@model ImreCV.ViewModels.CVModel

@{
    ViewBag.Title = "CV'd";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>




    @foreach (var item in Model.AllPersons)
    {
        <H3>@item.Firstname @item.Lastname</H3>
        <table class="table table-reflow">
            <tr class ="table-head">
                <th>
                    Nimi
                </th>
                <th>
                    Sugu
                </th>
                <th>
                    Sünnikuupäev
                </th>
                <th>
                    Vanus
                </th>
                <th>
                    Aadress
                </th>
                <th>
                    E-mail
                </th>
                <th>
                    Mobiili nr
                </th>
                <th>
                    Haridus
                </th>
                <th>Tutvustus ja eesmärgid</th>
            </tr>
            <tr>
                <th>@item.Firstname @item.Lastname</th>
                <th>@item.Gender</th>
                <th>@item.BirthDate</th>
                <th>@item.Age</th>
                <th>@item.Address</th>
                <th>@item.Email</th>
                <th>@item.TelNr</th>
                <th>@item.EducationLevel</th>
                <th>@item.Story</th>
            </tr>
            </table>


            <table class="table">
                <tr class="table-head">
                    <th>Kooli nimi</th>
                    <th>Nimi</th>
                    <th>Alates</th>
                    <th>Kuni</th>
                    <th>Lisainformatsioon</th>
                </tr>
                
                @foreach (var item1 in Model.Educations)

                {
                    if (@item.PersonId == @item1.PersonId)
                    {
                        <tr>
                            <th>@item1.SchoolName</th>
                            <th>@item1.Name</th>
                            <th>@item1.From</th>
                            <th>@item1.Until</th>
                            <th>@item1.Information</th>
                        </tr>
                    }

                }

            </table>


            <table class="table">
                <tr class ="table-head">
                    <th>Firma</th>
                    <th>Alates</th>
                    <th>Kuni</th>
                    <th>Töö nimetus</th>
                    <th>Töö selgitus</th>
                    <th>Töötan veel</th>
                    <th>Lahkumise põhjus</th>
                </tr>
                @foreach (var item2 in Model.Jobs)
                {
                    if (@item.PersonId == @item2.PersonId)
                    {
                        <tr>
                            <th>@item2.Company</th>
                            <th>@item2.From</th>
                            <th>@item2.Until</th>
                            <th>@item2.JobName</th>
                            <th>@item2.JobExplanation</th>
                            <th>@item2.StillWorking</th>
                            <th>@item2.PurposeOfLeaving</th>
                        </tr>
                    }


                }

            </table>


        <table class="table">
            <tr class ="table-head">
                <th>Eelistatud töö</th>
                <th>Soovitud ametid</th>
                <th>Soovitud tööajad</th>
                <th>Asukoht</th>
            </tr>
            
                @foreach (var itemExpect in Model.Expectations)
                {
                    if (@item.PersonId == @itemExpect.PersonId)
                    {
                        <tr>
                            <th>@itemExpect.PreferedJob</th>
                            <th>@itemExpect.DesiredJob</th>
                            <th>@itemExpect.DesiredJobTime</th>
                            <th>@itemExpect.Location</th>
                        </tr>
                    }

                }
                    
        </table>

        <table class="table">
            <tr class ="table-head">
                <th>Name</th>
                <th>Suhtlemine  </th>
                <th>Esitlemine</th>
                <th>Lugemine</th>
                <th>Kuulamine</th>
                <th>Kirjutamine</th>
            </tr>
            @foreach (var itemLang in Model.Languages)
            {
                if (@item.PersonId == @itemLang.PersonId)
                {
                    <tr>
                        <th>@itemLang.Name</th>
                        <th>@itemLang.Communication</th>
                        <th>@itemLang.Presentation</th>
                        <th>@itemLang.Reading</th>
                        <th>@itemLang.Listening</th>
                        <th>@itemLang.Writing</th>
                    </tr>
                }

            }
        </table>

        <table class="table">
            <tr class ="table-head">
                <th>Algaja</th>
                <th>Keskmine tase</th>
                <th>Spetsialist</th>
            </tr>
            @foreach (var item1 in Model.ComputerSkills)
            {
                if (@item.PersonId == @item1.PersonId)
                {
                    <tr>
                        <th>@item1.NewbieSkills</th>
                        <th>@item1.ModerateSkills</th>
                        <th>@item1.SpecialistSkills</th>
                    </tr>
                }

            }
        </table>


        <table class="table">
            <tr class ="table-head">
                <th>Isikuomadused</th>
                <th>Huvid/hobid</th>
                <th>Tugevad küljed</th>
                <th>Arendamist vajavad küljed</th>
            </tr>
            @foreach (var item1 in Model.PersonAttributes)
            {
                if (@item.PersonId == @item1.PersonId)
                {
                    <tr>
                        <th>@item1.Personality</th>
                        <th>@item1.Interrest</th>
                        <th>@item1.StrongSides</th>
                        <th>@item1.TouchNeedingSides</th>
                    </tr>
                }

            }
        </table>

    }
        


   