@model ImreCV.ViewModels.CVModel

@{
    ViewBag.Title = "CVs";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>CVs</h2>
<H3>
    @ViewBag.PersonTitle
</H3>

    

    @foreach (var item in Model.AllPersons)
    {
        <table class="table table-reflow">
            <tr class ="table-head">
                <th>
                    Name
                </th>
                <th>
                    Gender
                </th>
                <th>
                    Birth date
                </th>
                <th>
                    Age
                </th>
                <th>
                    Address
                </th>
                <th>
                    Email
                </th>
                <th>
                    Telephone nr
                </th>
                <th>
                    Education level
                </th>
                <th>Story</th>
            </tr>
            <tr>
                @ViewBag.PersonTitle = @item.Firstname @item.Lastname
                <th>@item.Firstname @item.Lastname</th>
                <th>@item.Gender</th>
                <th>@item.BirthDate</th>
                <th>@item.Age</th>
                <th>@item.Address</th>
                <th>@item.Email</th>
                <th>@item.TelNr</th>
                <th>@item.EducationLevel</th>
                <th>@item.Story</th>
            </tr>
            </table>


            <table class="table">
                <tr class ="table-head">
                    <th>School name</th>
                    <th>Name</th>
                    <th>From</th>
                    <th>Until</th>
                    <th>Information</th>
                </tr>
                @foreach (var item1 in Model.Educations)
                {
                    <tr>
                        <th>@item1.SchoolName</th>
                        <th>@item1.Name</th>
                        <th>@item1.From</th>
                        <th>@item1.Until</th>
                        <th>@item1.Information</th>
                    </tr>
                }

            </table>


            <table class="table">
                <tr class ="table-head">
                    <th>Comany</th>
                    <th>From</th>
                    <th>Until</th>
                    <th>Job name</th>
                    <th>Job Explanation</th>
                    <th>Still working</th>
                    <th>Purpose of leaving</th>
                </tr>
                @foreach (var item2 in Model.Jobs)
                {
                    <tr>
                        <th>@item2.Company</th>
                        <th>@item2.From</th>
                        <th>@item2.Until</th>
                        <th>@item2.JobName</th>
                        <th>@item2.JobExplanation</th>
                        <th>@item2.StillWorking</th>
                        <th>@item2.PurposeOfLeaving</th>
                    </tr>

                }

            </table>


        <table class="table">
            <tr class ="table-head">
                <th>Prefered job</th>
                <th>Desired job</th>
                <th>Desired job time</th>
                <th>Location</th>
            </tr>
            
                @foreach (var itemExpect in Model.Expectations)
                {
                    <tr>
                        <th>@itemExpect.PreferedJob</th>
                        <th>@itemExpect.DesiredJob</th>
                        <th>@itemExpect.DesiredJobTime</th>
                        <th>@itemExpect.Location</th>
                    </tr>
                }
                    
        </table>

        <table class="table">
            <tr class ="table-head">
                <th>Name</th>
                <th>Communication Level </th>
                <th>Presentation Level</th>
                <th>Reading Level</th>
                <th>Listening level</th>
                <th>Writing level</th>
            </tr>
            @foreach (var itemLang in Model.Languages)
            {
                <tr>
                    <th>@itemLang.Name</th>
                    <th>@itemLang.Communication</th>
                    <th>@itemLang.Presentation</th>
                    <th>@itemLang.Reading</th>
                    <th>@itemLang.Listening</th>
                    <th>@itemLang.Writing</th>
                </tr>
            }
        </table>

        <table class="table">
            <tr class ="table-head">
                <th>Newbie skills</th>
                <th>Moderate skills</th>
                <th>Specialist skills</th>
            </tr>
            @foreach (var item1 in Model.ComputerSkills)
            {
                <tr>
                    <th>@item1.NewbieSkills</th>
                    <th>@item1.ModerateSkills</th>
                    <th>@item1.SpecialistSkills</th>
                </tr>
            }
        </table>


        <table class="table">
            <tr class ="table-head">
                <th>Personality</th>
                <th>Interrests</th>
                <th>Strong sides</th>
                <th>Touch needing sides</th>
            </tr>
            @foreach (var item1 in Model.PersonAttributes)
            {
                <tr>
                    <th>@item1.Personality</th>
                    <th>@item1.Interrest</th>
                    <th>@item1.StrongSides</th>
                    <th>@item1.TouchNeedingSides</th>
                </tr>
            }
        </table>

    }
        


   