@model Domain.PersonAttribute


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h4>PersonAttribute</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Person.Firstname)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Person.Firstname)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Personality)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Personality)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.StrongSides)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.StrongSides)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.TouchNeedingSides)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.TouchNeedingSides)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Interrest)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Interrest)
            </dd>
    
        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.PersonAttributeId }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
