@model IEnumerable<Domain.Education>

@{
    ViewBag.Title = "Index";
}

<h2>Haridus</h2>

<p>
    @Html.ActionLink("Loo uus", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Person.Firstname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SchoolName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.From)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Until)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Information)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Person.Firstname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SchoolName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.From)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Until)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Information)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.EducationId }) |
            @Html.ActionLink("Details", "Details", new { id=item.EducationId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.EducationId })
        </td>
    </tr>
}

</table>
