@model IEnumerable<Domain.Language>



<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Person.Firstname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Communication)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Presentation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Reading)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Listening)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Writing)
            </th>
            <th></th>
        </tr>
    
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Person.Firstname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Communication)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Presentation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Reading)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Listening)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Writing)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.LanguageId }) |
                @Html.ActionLink("Details", "Details", new { id=item.LanguageId }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.LanguageId })
            </td>
        </tr>
    }
    
    </table>
</body>
</html>
