@model Domain.ComputerSkill

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ComputerSkill</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Person.Firstname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Person.Firstname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NewbieSkills)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NewbieSkills)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ModerateSkills)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModerateSkills)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SpecialistSkills)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SpecialistSkills)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ComputerSkillId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
