@model IEnumerable<Domain.ComputerSkill>

@{
    ViewBag.Title = "Index";
}

<h2>Arvutioskused</h2>

<p>
    @Html.ActionLink("Loo uus", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Person.Firstname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NewbieSkills)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ModerateSkills)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SpecialistSkills)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Person.Firstname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NewbieSkills)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ModerateSkills)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SpecialistSkills)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ComputerSkillId }) |
            @Html.ActionLink("Details", "Details", new { id=item.ComputerSkillId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ComputerSkillId })
        </td>
    </tr>
}

</table>
